@import "../../index.less";

.goods_edit_Box{
    // .pd(25px ,30px ,25px ,30px);
    .pt(25);
    .pr(30);
    .pl(30);
    .pb(25);

    .ant-input,.ant-select-selection--single{
        border-color: #d4d4d4;
    }
    .border_b{
        border-bottom: 1px solid @borderColor;
        // .pd(0,0,20px,0);
        
        .pb(20);
        .margin(0,0,20px,0);
        .lightTitle{
             .fs(@siderFontSize);
            color:@primary-color;
            .margin(0,0,20px,0);
        }
        .flexBox{
            .flexBox(center,flex-start);
            min-height: 34px;
            .leftText{
                 .fs(@siderFontSize);
                min-width: 80px;
            }
            .selectBox,.inputBox{
                max-width: 140px;
            }
        }
        .addSpecs{
            .margin(8px,0,0,0)
        }
        .deleteBtn{
            min-height: 32px;
            line-height:32px;
            color: @redColor;
            text-decoration: underline;
            cursor: pointer;
        }
        .eachPic{
            width: 100px;
            height: 100px;
            // border: 1px dashed @borderColor;
            vertical-align: middle;
             .fs(@siderFontSize);
            // .margin(0,10px,0,10px);
            .iconfont{
                 .fs(40);
            }
        }
        .delivery_box{
            // .pd(0,0,30px,0);
            
            .pb(30);
            .flexBox{
                &.col{
                    justify-content: space-between;
                }
            }
        }
        .saveBtn{
            width: 354px;
            height: 40px;
            .margin(30px,0,0,0)
        }
        .ant-upload.ant-upload-select-picture-card > .ant-upload{
            // .pd(0,0,0,0)
            .pt(0);
            .pr(0);
            .pl(0);
            .pb(0);
        }
        .goodDetailBox{
            .ant-upload.ant-upload-select-picture-card{
                background: none;
                border: none;
            }
            .upload-list-inline .ant-upload-list-item {
                float: left;
                width: 200px;
                margin-right: 8px;
              }
              .upload-list-inline .ant-upload-animate-enter {
                animation-name: uploadAnimateInlineIn;
              }
              .upload-list-inline .ant-upload-animate-leave {
                animation-name: uploadAnimateInlineOut;
              }
        }
    }
    

}