@import "../../index.less";

.application_for_cash_box{
    .search_box{
            .pt(32);
            .pr(32);
            .pl(32);
            .pb(32);
        .searchText{
            line-height: 30px;
        }
        .price{
             .fs(@fs22);
            color: @redColor;
            .margin(0,0,0,30px)
        }
        .search{
            .margin(100px,0,0,0)
        }
        .btnBox{
            .margin(38px,0,0,0)
        }
    }
    .midTitle{
        // .pd(60px,0,35px,0);
        .pt(60);
        .pb(35);
        background: @f6;
        color: @commonFontColor;
         .fs(@menuContentText);
    }
    .tableBox{
        .pt(32);
        .pr(32);
        .pl(32);
        .pb(32);
    }
}